<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <iframe src="https://sooners-my.sharepoint.com/personal/nicholas_j_thompson-1_ou_edu/_layouts/15/Doc.aspx?sourcedoc={a862a25d-846d-4c57-a208-421b56a4cded}&amp;action=embedview&amp;wdAr=1.7777777777777777" width="1280px" height="720px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
</body>
</html>