<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
</head>
<body>
  <ul class="navbar">
    <li class="navbar-item"><a class="navbar-text active" href="/upload">Home</a></li>
    <li class="navbar-item"><a class="navbar-text" href="/tech.html">Tech</a></li>
    <li class="navbar-item"><a class="navbar-text" href="/">About</a></li>
  </ul> 
  <div class="box">
      <form method=post enctype=multipart/form-data>
        <p>
          <input type=file name=file>
        </p>
        <p>
          <input class="button-59" type=submit value=Upload>
        </p>
      </form>
  </div>
</body>
</html>